@import '../../utilities/mixins'; 
@import '../../utilities/variables';
@import '../../utilities/extends';

.house {
    background: $light-yellow;
    margin: 30px 0;
    @include mq('medium') {
        @include grid($temp-col: 2fr 3fr);
    }
    &-container {
        border-top: $br--house;
        border-left: $br--house;
        border-right: $br--house;
        position: relative;
        @include mq('medium') {
            border-right: none;
            border-bottom: $br--house;
        }
        &-images {
            width: 100%;
            display: block;
            &:hover {
                @extend %mouseover;
                @extend %box-shadow;
            }
        }
        &-close-btn {
            @extend %house-btn;
            @extend %trn;
            @include apos($top: 5%, $right: 5%);
            display: block;
            @extend %house-transition;
        }

        &:hover .house-container-close-btn {
            opacity: 1;
        }
    }
    &-detail {
        border: $br--house;
        padding: 20px 10px;
        &-title {
            color: $strong-blue;
        }
        &-block{
           span {
               margin: 10px;
               @extend %house-btn;
           }
        }
    }
}
